
html{
  font-size:16px;
  font-family:sans-serif;
}

    /*Header Section*/
header {
  position:fixed;
  z-index:100;
  top:0;
  width:100%;
  height:5.31rem;
  background-color:white;
}

.joinus {
  display:none;
}

.mobile_tabletnavigation {
  display:none;
}

a {
  text-decoration: none;
}

.header {
  line-height:1.6rem;
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-left:1.88rem;
  margin-right:1.88rem;
}

.navigation ul{
  display:flex;
  align-items:center;
}

.navigation li {
  display:inline;
  font-size:1rem;
  list-style-type: none;
}


/*Mobile Navigation don't display*/
.mobile_tabletnavigation {
  visibility:none;
}


.product {
   color:#4A4A4A;
   margin-right:2rem;
   font-family:"Roboto-Regular", sans-serif;
   font-size:1rem;
}

.follow {
  margin-right:0.75rem;
  font-family:"Roboto-Regular", sans-serif;
  color:#4A4A4A;
  font-size:1rem;
}

.about{
  color:#4A4A4A;
  margin-right:2rem;
  font-family:"Roboto-Regular", sans-serif;
  font-size:1rem;
}


.logo {
  font-size:1.5rem;
}

.anchor {
  color:#4A4A4A;
  font-family:"Roboto-Regular", sans-serif;
  letter-spacing: 0.2rem;
}

.instagramimage{
  width:1.5rem;
  padding-right:1.25rem;
}

  /*Main Section*/

main {
  position:relative;
  z-index:2;
  top:5rem;
}

.maintopsection {
  background-color:#4a4a4a;
  background-image: url (../../../banner-landingpage.jpg);
  background-size:cover;
  height:36rem;
  padding-top:10.63rem;
  padding-left:6.3rem;
  margin-bottom:0;
  padding-bottom:0;
}


.maintag {
  display:flex;
  align-items:center;
  flex-direction:column;
  text-align:center;
  background-color:#9DC20A;
  border:1px solid #979797;
  border-radius:0.25rem;
  height:19.5rem;
  width:35.5rem;
  padding-bottom:1rem;
}

.instant {
  font-family:"Damion", cursive;
  font-style:italic;
  font-size:2.25rem;
  color:white;
  line-height:1.4rem;
}

.FormatCamera {
  font-size:3.125rem;
  line-height:1.4rem;
  color:white;
  font-family:"Rubik-Regular", sans-serif;
  padding-bottom:1.5rem;
  margin-bottom:0rem;
  margin-top:0rem;
}

.emailus {
  font-family:"Roboto-Regular", sans-serif;
  line-height:1.4rem;
  color:white;
  font-size:1.25rem;
  margin-top:0rem;
  margin-bottom:0rem;
  padding-top:0rem;
  padding-bottom:0rem;
}

.waitinglist {
  font-family:"Roboto-Regular", sans-serif;
  line-height:1.4rem;
  color:white;
  font-size:1.25rem;
  margin-top:0rem;
  margin-bottom:0rem;
  padding-top:0rem;
  padding-bottom:1.5rem;
}

.Joinsection {
  display:flex;
  flex-direction:column;
  justify-content: center;
  background-color:#4A4A4A;
  width:25.5rem;
  height:4rem;
  border:1px solid #4A4A4A;
  border-radius:0.25rem;
}

.Joinwaitinglist {
  align-self: center;
  background-color:#4A4A4A;
  width:25.5rem;
  height:4rem;
  font-family:"Roboto-Medium", sans-serif;
  line-height:1.4rem;
  color:white;
  font-size:1.25rem;
}

.featuressection {
  display:flex;
  justify-content: center;
  background-color:#f3f3f3;
  padding-top:4rem;
  padding-bottom:3rem;
  margin-top:0rem;
}

.feature1 {
  background-color:white;
  background-size:cover;
  width:40%;
  margin-right:2rem;
  padding-right:2rem;
}

.feature1image {
  width:90%;
  overflow:hidden;
  height:65%;
  margin:0 auto;
  margin-right:2rem;
  margin-left:2rem;
  margin-top:2rem;
}

.feature1header{
  text-align:center;
}

.feature1content{
  text-align:center;
  padding-bottom:4rem;
}

.feature2 {
  background-color:white;
  background-size:cover;
  width:40%;
  margin-right:2rem;
  padding-right:2rem;
}

.feature2image{
  width:90%;
  height:65%;
  margin:0 auto;
  margin-right:2rem;
  margin-left:2rem;
  margin-top:2rem;
  overflow:hidden;
}

.feature2header {
  text-align:center;
}

.feature2content{
  text-align:center;
  font-size:1rem;
  padding-bottom:4rem;
}

.filtersection {
  background-color:#4a4a4a;
}

.filterheader {
  display:flex;
  flex-direction:column;
  align-items:center;
  color:white;
  padding-top:4rem;
  padding-bottom:4rem;
}

.filtercontent {
  margin:0 auto;
  padding-bottom:0.5rem;
  text-align:center;
}

.filtercontent1 {
  margin:0 auto;
  text-align:center;
}

.filterimages {
  display:flex;
  margin-right:1%;
  margin-left:1%;
  padding-bottom:4rem;
}

.filter1 {
  width:25%;
}

.filter1image{
  width:100%;
}

.filter2 {
  width:25%;
}

.filter2image{
  width:100%;
}

.filter3{
  width:25%;
}

.filter3image{
  width:100%;
}

.filter4{
  width:25%;
}

.filter4image{
  width:100%;
}

.quotosection {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#f3f3f3;
  padding-top:5rem;
  padding-bottom:5rem;
}

/*
.quoto {
  text-align:center;
}*/

.quotocontent{
  line-height:2rem;
  font-size:1.88rem;
  color:#4A4A4A;
  font-family:Palatino-Italic;
}

.PhotoSocietyimage{
  padding-left:1.88rem;
}

/*Footer Section*/

footer {
  position:relative;
  z-index:1;
  top:4rem;
  background-color:#9B9B9B;
  height:3.88rem;
  font-size:0.8rem;
  color:white;
  font-family:Robot-Reqular;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-right:2rem;
  padding-left:2rem;
}


.copyrightcontent {
  padding-top:1rem;
}

.DesignNYClogo {
  padding-top:1rem;
}

@media only screen and (max-width:1024px) {

  header {
    position:fixed;
    z-index:100;
    top:0;
    width:100%;
    height:5.31rem;
    background-color:white;
  }

  .feature1header{
    text-align:center;
    font-size:1.125rem;
    font-weight:bold;
    padding-top:1rem;
  }

  .feature1content{
    text-align:center;
    padding-bottom:12rem;
    font-size:1.125rem;
    font-weight:none;
  }

  .feature2header {
    text-align:center;
    font-size:1.125rem;
    padding-top:1rem;
    font-weight:bold;
  }

  .feature2content{
    text-align:center;
    font-size:1rem;
    padding-bottom:12rem;
    font-size:1.125rem;
    font-weight:none;
  }

  .quotosection {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    padding-top:2.0rem;
    padding-bottom:2.5rem;
  }
}

@media only screen and (max-width:768px) {


/* Header Section */




.mobile_tabletnavigation{
  display:flex;
  align-items:center;
  justify-content: space-around;
  padding-top:2rem;
  width:100%;
}



.navigation {
  display:none;
}

.logo {
  display:none;
}

.joinus{
  display:inline;
  background-color:#9DC20A;
  border:1px solid #979797;
  border-radius:0.25rem;
  padding:0.25rem;
  width:4.5rem;
  text-align:center;
}

.joinusbutton {
  color:white;
  font-family:"Roboto-Regular", sans-serif;
}

/* Main Section */

.maintag {
  background-color:inherit;
  border:none;
  border-radius:none;
  height:19.5rem;
  width:100%;
  padding-left:0rem;
  padding-bottom:1rem;
  text-align:center;
}

.maintopsection {
  background-color:#4a4a4a;
  background-image: url (../../../banner-landingpage.jpg);
  background-size:cover;
  height:20rem;
  padding-top:10.63rem;
  padding-left:0rem;
  margin-bottom:0;
  padding-bottom:0;
}

.emailus {
  display:none;
}

.waitinglist {
  display:none;
}

.Joinsection {
  display:none;
}

/* Feature Section */

.featuressection {
  display:flex;
  flex-direction:column;
  align-items:center;
  background:white;
  padding-top:0rem;
  padding-bottom:0rem;
  padding-left:1.5rem;
  margin-top:0rem;
  margin-bottom:0rem;
  width:100%;
}

.feature1 {
  background-color:white;
  background-size:cover;
  width:90%;
  margin-right:2rem;
  padding-right:2rem;
}

.feature1image {
  width:90%;
  overflow:hidden;
  height:65%;
  margin-right:2rem;
  margin-left:2rem;
  margin-top:2rem;
}

.feature1header{
  text-align:center;
  font-size:1.125rem;
  font-weight:bold;
}

.feature1content{
  text-align:center;
  padding-bottom:0rem;
  font-size:1.125rem;
  font-weight:none;
}

.feature2 {
  background-color:white;
  background-size:cover;
  width:90%;
  margin-right:2rem;
  padding-right:2rem;
}

.feature2image{
  width:90%;
  height:65%;
  margin-right:2rem;
  margin-left:2rem;
  margin-top:2rem;
  overflow:hidden;
}

.feature2header {
  text-align:center;
  font-size:1.125rem;
  font-weight:bold;
}

.feature2content{
  text-align:center;
  font-size:1rem;
  padding-bottom:4rem;
  font-size:1.125rem;
  font-weight:none;
}

/* Feature Section */


.filtersection {
  background-color:#4a4a4a;
  margin-top:0rem;
  padding-top:0rem;
}

.filtercontent{
  padding-bottom:0.5rem;
  }

.filtercontent1{
  text-align:center;
}

.filterimages {
  display:flex;
  margin-right:0;
  margin-left:0;
  padding-bottom:0rem;
}

.filter1 {
  width:33.33%;
}

.filter1image{
  width:100%;
}

.filter2 {
  width:33.33%;
}

.filter2image{
  width:100%;
}

.filter3{
  width:33.33%;
}

.filter3image{
  width:100%;
}
.filter4 {
  display:none;
}


/*Quote Section */

.quotosection {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  text-align:center;
  padding-top:2.0rem;
  padding-bottom:2.5rem;
}


.quotocontent{
  line-height:2rem;
  font-size:1.5rem;
  color:#4A4A4A;
  font-family:Palatino-Italic;
}

}

@media only screen and (max-width:480px) {
 /* Header */


 /*Main Section */

 .maintopsection {
   background-color:#4a4a4a;
   background-image: url (../../../banner-landingpage.jpg);
   background-size:cover;
   height:20rem;
   padding-top:10rem;
   padding-left:0rem;
   margin-bottom:0;
   padding-bottom:0;
 }

 .maintag {
   background-color:inherit;
   border:none;
   border-radius:none;
   height:20rem;
   width:100%;
   text-align:center;
   margin:0 auto;
   padding-left:0rem;
   padding-bottom:1rem;
   text-align:center;
 }

 .FormatCamera {
   font-size:2.25rem;
   line-height:1;
 }

 .instant {
   font-size:2rem;
 }

/* Filter Section */
.filtersection {
  background-color:#4a4a4a;
  margin-top:1rem;
  padding-top:0rem;
}


 footer {
   font-size:0.625rem;
 }

}
